<a href="https://colab.research.google.com/github/rnstr/TeksMining/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello google colab!")

hello google colab!

# Posisi karakter dalam string
---
`nama_variabel[urutan indeks]`

kata = "buku klasifikasi teks"

kata[10] = f

kata[:4] = buku

kata[17:] = teks

In [ ]:
kata = "buku klasifikasi teks"
print("kata[10] = ", kata[10])
print("kata[:4] = ", kata[:4])
print("kata[17:] = ", kata[17:])

kata[10] =  f
kata[:4] =  buku
kata[17:] =  teks

# Menentukan panjang string
---
`len(teks)`

In [ ]:
kata = "buku klasifikasi teks"
print(len(kata))

21

# Menggabungkan string
---
`string1+string2+string3`

In [ ]:
kata1 = "buku"
kata2 = "klasifikasi"
kata3 = "teks"

kataBaru = kata1+kata2+kata3
kataBaruSpasi = kata1+ " " +kata2+ " " + kata3
print(kataBaru)
print(kataBaruSpasi)

bukuklasifikasiteks
buku klasifikasi teks

# Menghitung kemunculan suatu karakter
---
`nama_variable.count("karakter yang ingin dihitung kemunculan karakternya")`

In [ ]:
kata = "buku klasifikasi teks"
print(kata.count("si"))

2

# Menentukan posisi dari suatu karakter 
---
`nama_variable.find("karakter yang ingin diketahui posisinya")`

In [ ]:
kata = "buku klasifikasi teks"
print(kata.find("klasi"))
print(kata.find("klaso"))

5
-1

# LowerCase,  UpperCase, capitalize  dari suatu string 
---
`nama_variable.lower()`

`nama_variable.upper()`

`nama_variable.capitalize()`

In [2]:
kata = "buku klasifikasi teks"
print(kata.upper())

kata = "BUKU klasifikasi teks"
print(kata.lower())

kata = "BUKU klasifikasi teks"
print(kata.capitalize())

BUKU KLASIFIKASI TEKS
buku klasifikasi teks
Buku klasifikasi teks

# Menghapus karakter dari suatu string 
---
`nama_variable.lstrip("karatker)`

`nama_variable.rstrip("karakter)`

`nama_variable.strip("karakert)`

In [3]:
kata = "buku klasifikasi buku"
print(kata.lstrip("buku"))

kata = "buku klasifikasi buku"
print(kata.rstrip("buku"))

kata = "buku klasifikasi buku"
print(kata.strip("buku"))

 klasifikasi buku
buku klasifikasi
 klasifikasi